body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

